    <footer id="footer" class="pure-g">
      <div class="inner pure-u-1">
        おかげで <a href="http://coranac.com/tonc/text/">TONC</a>と<a href="https://devkitpro.org/">DevKitPro</a> ゲームボーイアドバンスプログラミングチュートリアル用。<br>
        <a href="https://trap.jp/post/144/">日本語のチュートリアルはこちらをご覧ください.<a>
      </div>
    </footer>
  </div> <!-- layout closing -->
  <div id="overlay"></div>
  <script src="{{ theme_url }}/js/main.js"></script>
</body>
</html>
